<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.backend.channel.ChannelMapper">

	<resultMap id="ChannelShowVO" type="com.easygame.sdk.repository.model.vo.backend.channel.ChannelShowVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="channelName" property="name" jdbcType="VARCHAR" />
		<result column="linkmanName" property="linkman" jdbcType="VARCHAR" />
		<result column="email" property="linkmanEmail" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectChannelListByCriteria" resultMap="ChannelShowVO" parameterType="com.easygame.sdk.repository.model.dto.backend.channel.ChannelSearchCriteriaDTO">
		SELECT
		t_channels.id,
		t_channels.`code`,
		t_channels.`name` AS
		channelName,
		t_accounts.`name` AS linkmanName,
		t_accounts_informations.email
		FROM
		(
		SELECT
		t_channels.id
		FROM
		t_channels
		WHERE
		1 = 1
		<if test="searchChannelCode != null">
			AND t_channels.`code` LIKE '%${searchChannelCode}%'
		</if>
		<if test="searchChannelName != null">
			AND t_channels.`name` LIKE '%${searchChannelName}%'
		</if>
		LIMIT
		#{pagination.startRow,jdbcType=INTEGER},
		#{pagination.pageSize,jdbcType=INTEGER}
		) AS selectedData
		LEFT JOIN
		t_channels ON selectedData.id = t_channels.id
		LEFT JOIN t_accounts ON
		t_channels.linkman_id = t_accounts.id
		LEFT JOIN t_accounts_informations
		ON
		t_accounts.id =
		t_accounts_informations.account_id
		order by
		t_channels.id desc
	</select>

	<select id="getChannelListTotalCountByCriteria" resultType="int" parameterType="com.easygame.sdk.repository.model.dto.backend.channel.ChannelSearchCriteriaDTO">
		SELECT
		count(t_channels.id)
		FROM
		t_channels
		WHERE 1 = 1
		<if test="searchChannelCode != null">
			AND t_channels.`code` LIKE '%${searchChannelCode}%'
		</if>
		<if test="searchChannelName != null">
			AND t_channels.`name` LIKE '%${searchChannelName}%'
		</if>
	</select>

	<resultMap id="AccountShowVO" type="com.easygame.sdk.repository.model.vo.backend.general.AccountShowVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="companyName" property="companyName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectAllAccount" resultMap="AccountShowVO">
		SELECT
		t_accounts.id,
		t_accounts.`name`,
		t_companies.`name` AS companyName
		FROM
		t_accounts,
		t_accounts_informations,
		t_companies
		WHERE
		t_accounts.id =
		t_accounts_informations.account_id
		AND
		t_accounts_informations.company_id =
		t_companies.id
		ORDER BY
		t_accounts.id DESC
	</select>

	<select id="checkIfChannelExist" resultType="int">
		SELECT
		count(t_channels.id)
		FROM
		t_channels
		WHERE
		t_channels.`name` =
		#{channelName,jdbcType=VARCHAR}
		<if test="id != null">
			<if test="id != 0">
				AND t_channels.id != #{id,jdbcType=INTEGER}
			</if>
		</if>
	</select>

	<delete id="deleteChannelByPrimaryKey" parameterType="java.lang.Integer">
		delete
		from
		t_channels
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<select id="checkChannelDeleteSecurity" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT
		count(t_promotions.id)
		FROM
		t_promotions
		WHERE
		t_promotions.channel_id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insertChannel" parameterType="com.easygame.sdk.repository.model.dto.backend.channel.ChannelModifyDTO">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
		insert into t_channels
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="linkmanId != null">
				linkman_id,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="parentChannelId != null">
				parent_channel_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="linkmanId != null">
				#{linkmanId,jdbcType=INTEGER},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="parentChannelId != null">
				#{parentChannelId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<resultMap id="ChannelModifyDTO" type="com.easygame.sdk.repository.model.dto.backend.channel.ChannelModifyDTO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="linkman_id" property="linkmanId" jdbcType="INTEGER" />
		<result column="linkmanName" property="linkmanName" jdbcType="VARCHAR" />
		<result column="companyName" property="companyName" jdbcType="VARCHAR" />
		<result column="parent_channel_id" property="parentChannelId" jdbcType="INTEGER" />
	</resultMap>
	<select id="selectChannelByPrimaryKey" resultMap="ChannelModifyDTO" parameterType="java.lang.Integer">
		SELECT
		t_channels.id,
		t_channels.`code`,
		t_channels.`name`,
		t_channels.linkman_id,
		t_channels.parent_channel_id,
		t_accounts.`name` AS
		linkmanName,
		t_companies.`name` AS companyName
		FROM
		(
		SELECT
		t_channels.id
		FROM
		t_channels
		WHERE
		id = #{id,jdbcType=INTEGER}
		) AS selectedData
		LEFT
		JOIN t_channels ON selectedData.id = t_channels.id
		LEFT JOIN t_accounts
		ON t_channels.linkman_id = t_accounts.id
		LEFT JOIN
		t_accounts_informations
		ON t_accounts.id =
		t_accounts_informations.account_id
		LEFT JOIN t_companies ON
		t_accounts_informations.company_id = t_companies.id
	</select>

	<select id="selectChannelMaxId" resultType="int">
		SELECT
		IFNULL(MAX(id),0)
		FROM t_channels
	</select>

	<update id="updateChannel" parameterType="com.easygame.sdk.repository.model.dto.backend.channel.ChannelModifyDTO">
		update t_channels
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="linkmanId != null">
				linkman_id = #{linkmanId,jdbcType=INTEGER},
			</if>
			<if test="parentChannelId != null">
				parent_channel_id = #{parentChannelId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectAllChannel" resultMap="ChannelShowVO">
		SELECT
		t_channels.id,
		t_channels.`code`,
		t_channels.`name` AS channelName
		FROM
		t_channels
		ORDER
		BY
		t_channels.id DESC
	</select>

</mapper>