<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.backend.channel.CPAPromotionMapper">

	<select id="checkIfPromotionExist" resultType="java.lang.Integer">
		SELECT
		count(t_cpa_promotions.id)
		FROM
		t_cpa_promotions
		WHERE t_cpa_promotions.channel_id =#{channelId,jdbcType=INTEGER}
		AND t_cpa_promotions.app_id =#{appId,jdbcType=INTEGER}
		AND t_cpa_promotions.app_nickname =#{appNickName,jdbcType=VARCHAR}
		<if test="id != 0">
			AND t_cpa_promotions.id != #{id,jdbcType=INTEGER}
		</if>
	</select>

	<resultMap id="AppShowVO" type="com.easygame.sdk.repository.model.vo.backend.market.AppShowVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectAllApp" resultMap="AppShowVO">
		SELECT
		t_apps.id,
		t_apps.`name`
		FROM
		t_apps
		ORDER BY
		t_apps.id
		DESC
	</select>

	<insert id="insertPromotion" parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionModifyDTO">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
		insert into t_cpa_promotions
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="appKey != null">
				app_key,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="appNickname != null">
				app_nickname,
			</if>
			<if test="sameDayPrice != null">
				same_day_price,
			</if>
			<if test="nextDayPrice != null">
				next_day_price,
			</if>
			<if test="activeSameDayTime != null">
				active_same_day_time,
			</if>
			<if test="activeNextDayTime != null">
				active_next_day_time,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="isused != null">
				isUsed,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="channelId != null">
				#{channelId,jdbcType=INTEGER},
			</if>
			<if test="appKey != null">
				#{appKey,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=INTEGER},
			</if>
			<if test="appNickname != null">
				#{appNickname,jdbcType=VARCHAR},
			</if>
			<if test="sameDayPrice != null">
				#{sameDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="nextDayPrice != null">
				#{nextDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="activeSameDayTime != null">
				#{activeSameDayTime,jdbcType=INTEGER},
			</if>
			<if test="activeNextDayTime != null">
				#{activeNextDayTime,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isused != null">
				#{isused,jdbcType=BIT},
			</if>
		</trim>
	</insert>

	<resultMap id="CPAPromotionModifyDTO" type="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionModifyDTO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="channelName" property="channelName" jdbcType="VARCHAR" />
		<result column="app_key" property="appKey" jdbcType="VARCHAR" />
		<result column="appName" property="appName" jdbcType="VARCHAR" />
		<result column="app_nickname" property="appNickname" jdbcType="VARCHAR" />
		<result column="active_same_day_time" property="activeSameDayTime" jdbcType="INTEGER" />
		<result column="same_day_price" property="sameDayPrice" jdbcType="VARCHAR" />
		<result column="active_next_day_time" property="activeNextDayTime" jdbcType="INTEGER" />
		<result column="next_day_price" property="nextDayPrice" jdbcType="VARCHAR" />
		<result column="isUsed" property="isused" jdbcType="BIT" />
	</resultMap>
	<select id="selectPromotionByPrimaryKey" resultMap="CPAPromotionModifyDTO" parameterType="java.lang.Integer">
		SELECT
		t_cpa_promotions.id,
		t_channels.`code`,
		t_channels.`name` AS channelName,
		t_cpa_promotions.app_key,
		t_apps.`name` AS appName,
		t_cpa_promotions.app_nickname,
		t_cpa_promotions.active_same_day_time,
		t_cpa_promotions.same_day_price,
		t_cpa_promotions.active_next_day_time,
		t_cpa_promotions.next_day_price,
		t_cpa_promotions.isUsed
		FROM
		t_apps,
		t_cpa_promotions,
		t_channels
		WHERE
		t_cpa_promotions.channel_id =
		t_channels.id
		AND
		t_cpa_promotions.app_id
		=
		t_apps.id
		AND
		t_cpa_promotions.id =
		#{id,jdbcType=INTEGER}
	</select>

	<resultMap id="Promotion"
		type="com.easygame.sdk.repository.model.po.CPAPromotion">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="channel_id" property="channelId" jdbcType="INTEGER" />
		<result column="app_key" property="appKey" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="INTEGER" />
		<result column="app_nickname" property="appNickname" jdbcType="VARCHAR" />
		<result column="same_day_price" property="sameDayPrice"
			jdbcType="DOUBLE" />
		<result column="next_day_price" property="nextDayPrice"
			jdbcType="DOUBLE" />
		<result column="active_same_day_time" property="activeSameDayTime"
			jdbcType="INTEGER" />
		<result column="active_next_day_time" property="activeNextDayTime"
			jdbcType="INTEGER" />
		<result column="last_update_date" property="lastUpdateDate"
			jdbcType="TIMESTAMP" />
		<result column="creation_date" property="creationDate"
			jdbcType="TIMESTAMP" />
		<result column="isUsed" property="isused" jdbcType="BIT" />
	</resultMap>
	<select id="selectPromotionByCriteria" resultMap="Promotion"
		parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionModifyDTO">
		select
		id, code, channel_id, app_key, app_id,
		app_nickname, same_day_price,
		next_day_price,
		active_same_day_time,
		active_next_day_time, last_update_date, creation_date, isUsed
		from
		t_cpa_promotions
		where channel_id =
		#{subChannelId,jdbcType=INTEGER}
		and
		app_id = #{appId,jdbcType=INTEGER}
		limit 1
	</select>

	<update id="updatePromotion" parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionModifyDTO">
		update t_cpa_promotions
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="channelId != null">
				channel_id = #{channelId,jdbcType=INTEGER},
			</if>
			<if test="appKey != null">
				app_key = #{appKey,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				app_id = #{appId,jdbcType=INTEGER},
			</if>
			<if test="appNickname != null">
				app_nickname = #{appNickname,jdbcType=VARCHAR},
			</if>
			<if test="sameDayPrice != null">
				same_day_price = #{sameDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="nextDayPrice != null">
				next_day_price = #{nextDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="activeSameDayTime != null">
				active_same_day_time =
				#{activeSameDayTime,jdbcType=INTEGER},
			</if>
			<if test="activeNextDayTime != null">
				active_next_day_time =
				#{activeNextDayTime,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creationDate != null">
				creation_date = #{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isused != null">
				isUsed = #{isused,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<resultMap id="CPAPromotionShowVO"
		type="com.easygame.sdk.repository.model.vo.backend.channel.CPAPromotionShowVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="promotionCode" property="promotionCode"
			jdbcType="VARCHAR" />
		<result column="app_key" property="appKey" jdbcType="VARCHAR" />
		<result column="channelName" property="channelName" jdbcType="VARCHAR" />
		<result column="channelCode" property="channelCode" jdbcType="VARCHAR" />
		<result column="appName" property="appName" jdbcType="VARCHAR" />
		<result column="app_nickname" property="appNickName" jdbcType="VARCHAR" />
		<result column="same_day_price" property="sameDayPrice"
			jdbcType="DOUBLE" />
		<result column="next_day_price" property="nextDayPrice"
			jdbcType="DOUBLE" />
	</resultMap>
	<select id="selectPromotionListByCriteria" resultMap="CPAPromotionShowVO"
		parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionSearchCriteriaDTO">
		SELECT
		t_cpa_promotions.id,
		t_cpa_promotions.`code` AS
		promotionCode,
		t_cpa_promotions.app_key,
		t_channels.`name` AS channelName,
		t_channels.`code` AS channelCode,
		t_apps.`name` AS
		appName,
		t_cpa_promotions.app_nickname,
		t_cpa_promotions.same_day_price,
		t_cpa_promotions.next_day_price
		FROM
		t_apps,
		t_channels,
		t_cpa_promotions
		WHERE
		t_cpa_promotions.channel_id =
		t_channels.id
		AND
		t_cpa_promotions.app_id =
		t_apps.id
		<if test="searchPromotionKEY != null">
			AND t_cpa_promotions.app_key =
			#{searchPromotionKEY,jdbcType=VARCHAR}
		</if>
		<if test="searchChannelName != null">
			AND t_channels.`name` LIKE '%${searchChannelName}%'
		</if>
		<if test="searchAppName != null">
			AND t_apps.`name` LIKE '%${searchAppName}%'
		</if>
		ORDER BY
		t_channels.id DESC,
		t_apps.id DESC,
		t_cpa_promotions.creation_date DESC

		LIMIT
		#{pagination.startRow,jdbcType=INTEGER},
		#{pagination.pageSize,jdbcType=INTEGER}
	</select>

	<select id="getPromotionListTotalCountByCriteria" resultType="int"
		parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionSearchCriteriaDTO">
		SELECT count(t_cpa_promotions.id)
		FROM
		t_apps,
		t_channels,
		t_cpa_promotions
		WHERE
		t_cpa_promotions.channel_id =
		t_channels.id
		AND
		t_cpa_promotions.app_id =
		t_apps.id
		<if test="searchPromotionKEY != null">
			AND t_cpa_promotions.app_key =
			#{searchPromotionKEY,jdbcType=VARCHAR}
		</if>
		<if test="searchChannelName != null">
			AND t_channels.`name` LIKE '%${searchChannelName}%'
		</if>
		<if test="searchAppName != null">
			AND t_apps.`name` LIKE '%${searchAppName}%'
		</if>
	</select>

	<delete id="deletePromotion" parameterType="java.lang.Integer">
		delete from
		t_cpa_promotions
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<select id="checkPromotionDeleteSecurity" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT
		COUNT(t_cpa_promotions.id)
		FROM
		t_active_table,
		t_cpa_promotions
		WHERE
		t_active_table.app_key = t_cpa_promotions.app_key
		AND
		t_cpa_promotions.id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectPromotionEntityByPrimaryKey" resultMap="Promotion"
		parameterType="java.lang.Integer">
		select
		id, code, channel_id, app_key, app_id,
		app_nickname,
		same_day_price,
		next_day_price,
		active_same_day_time, active_next_day_time,
		last_update_date,
		creation_date
		from
		t_cpa_promotions
		where id =
		#{id,jdbcType=INTEGER}
	</select>

	<select id="getAppSequenceByAppId" resultType="int"
		parameterType="java.lang.Integer">
		select next_val
		from t_apps_sequence
		where app_id =
		#{appId,jdbcType=INTEGER}
	</select>

	<update id="updateAppSequence">
		update t_apps_sequence
		<set>
			next_val = #{nextVal,jdbcType=INTEGER},
		</set>
		where app_id = #{appId,jdbcType=INTEGER}
	</update>

</mapper>