<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.backend.channel.CPAPromotionLogMapper">

	<insert id="insertPromotionLog" parameterType="com.easygame.sdk.repository.model.po.CPAPromotionLog">
		insert into t_cpa_promotions_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="promotionId != null">
				promotion_id,
			</if>
			<if test="promotionCode != null">
				promotion_code,
			</if>
			<if test="appKey != null">
				app_key,
			</if>
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="operaterId != null">
				operater_id,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="appNickname != null">
				app_nickname,
			</if>
			<if test="beforeAppNickname != null">
				before_app_nickname,
			</if>
			<if test="lastestType != null">
				lastest_type,
			</if>
			<if test="lastestSameDayPrice != null">
				lastest_same_day_price,
			</if>
			<if test="lastestNextDayPrice != null">
				lastest_next_day_price,
			</if>
			<if test="lastestCpsPercent != null">
				lastest_cps_percent,
			</if>
			<if test="lastestCptPrice != null">
				lastest_cpt_price,
			</if>
			<if test="beforeType != null">
				before_type,
			</if>
			<if test="beforeSameDayPrice != null">
				before_same_day_price,
			</if>
			<if test="beforeNextDayPrice != null">
				before_next_day_price,
			</if>
			<if test="beforeCpsPercent != null">
				before_cps_percent,
			</if>
			<if test="beforeCptPrice != null">
				before_cpt_price,
			</if>
			<if test="lastestActiveSameTime != null">
				lastest_active_same_time,
			</if>
			<if test="lastestActiveNextTime != null">
				lastest_active_next_time,
			</if>
			<if test="beforeActiveSameTime != null">
				before_active_same_time,
			</if>
			<if test="beforeActiveNextTime != null">
				before_active_next_time,
			</if>
			<if test="operaterType != null">
				operater_type,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="promotionId != null">
				#{promotionId,jdbcType=INTEGER},
			</if>
			<if test="promotionCode != null">
				#{promotionCode,jdbcType=VARCHAR},
			</if>
			<if test="appKey != null">
				#{appKey,jdbcType=VARCHAR},
			</if>
			<if test="channelId != null">
				#{channelId,jdbcType=INTEGER},
			</if>
			<if test="operaterId != null">
				#{operaterId,jdbcType=INTEGER},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=INTEGER},
			</if>
			<if test="appNickname != null">
				#{appNickname,jdbcType=VARCHAR},
			</if>
			<if test="beforeAppNickname != null">
				#{beforeAppNickname,jdbcType=VARCHAR},
			</if>
			<if test="lastestType != null">
				#{lastestType,jdbcType=INTEGER},
			</if>
			<if test="lastestSameDayPrice != null">
				#{lastestSameDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="lastestNextDayPrice != null">
				#{lastestNextDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="lastestCpsPercent != null">
				#{lastestCpsPercent,jdbcType=DOUBLE},
			</if>
			<if test="lastestCptPrice != null">
				#{lastestCptPrice,jdbcType=DOUBLE},
			</if>
			<if test="beforeType != null">
				#{beforeType,jdbcType=INTEGER},
			</if>
			<if test="beforeSameDayPrice != null">
				#{beforeSameDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="beforeNextDayPrice != null">
				#{beforeNextDayPrice,jdbcType=DOUBLE},
			</if>
			<if test="beforeCpsPercent != null">
				#{beforeCpsPercent,jdbcType=DOUBLE},
			</if>
			<if test="beforeCptPrice != null">
				#{beforeCptPrice,jdbcType=DOUBLE},
			</if>
			<if test="lastestActiveSameTime != null">
				#{lastestActiveSameTime,jdbcType=TINYINT},
			</if>
			<if test="lastestActiveNextTime != null">
				#{lastestActiveNextTime,jdbcType=TINYINT},
			</if>
			<if test="beforeActiveSameTime != null">
				#{beforeActiveSameTime,jdbcType=TINYINT},
			</if>
			<if test="beforeActiveNextTime != null">
				#{beforeActiveNextTime,jdbcType=TINYINT},
			</if>
			<if test="operaterType != null">
				#{operaterType,jdbcType=TINYINT},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<resultMap id="CPAPromotionLogShowVO"
		type="com.easygame.sdk.repository.model.vo.backend.channel.CPAPromotionLogShowVO">
		<result column="creation_date" property="date" jdbcType="VARCHAR" />
		<result column="channelName" property="channelName" jdbcType="VARCHAR" />
		<result column="appName" property="appName" jdbcType="VARCHAR" />
		<result column="app_nickname" property="appNickName" jdbcType="VARCHAR" />
		<result column="before_app_nickname" property="beforeAppNickName" jdbcType="VARCHAR" />
		<result column="lastest_type" property="type" jdbcType="INTEGER" />
		<result column="before_type" property="beforeType" jdbcType="INTEGER" />
		<result column="lastest_same_day_price" property="sameDayPrice" jdbcType="DOUBLE" />
		<result column="before_same_day_price" property="beforeSameDayPrice" jdbcType="DOUBLE" />
		<result column="lastest_next_day_price" property="nextDayPrice" jdbcType="DOUBLE" />
		<result column="before_next_day_price" property="beforeNextDayPrice" jdbcType="DOUBLE" />
		<result column="lastest_active_same_time" property="activeSameTime" jdbcType="INTEGER" />
		<result column="before_active_same_time" property="beforeActiveSameTime" jdbcType="INTEGER" />
		<result column="lastest_active_next_time" property="activeNextTime" jdbcType="INTEGER" />
		<result column="before_active_next_time" property="beforeActiveNextTime" jdbcType="INTEGER" />
		<result column="operaterName" property="operaterName" jdbcType="VARCHAR" />
		<result column="operater_type" property="operaterType" jdbcType="INTEGER" />
	</resultMap>
	<select id="selectPromotionLogsByCriteria" resultMap="CPAPromotionLogShowVO"
		parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionLogSearchCriteriaDTO">
		SELECT
		t_cpa_promotions_log.creation_date,
		t_channels.`name`
		AS channelName,
		t_apps.`name`
		AS appName,
		t_cpa_promotions_log.app_nickname,
		t_cpa_promotions_log.before_app_nickname,
		t_cpa_promotions_log.lastest_type,
		t_cpa_promotions_log.before_type,
		t_cpa_promotions_log.lastest_cps_percent,
		t_cpa_promotions_log.before_cps_percent,
		t_cpa_promotions_log.lastest_same_day_price,
		t_cpa_promotions_log.before_same_day_price,
		t_cpa_promotions_log.lastest_next_day_price,
		t_cpa_promotions_log.before_next_day_price,
		t_cpa_promotions_log.lastest_active_same_time,
		t_cpa_promotions_log.before_active_same_time,
		t_cpa_promotions_log.lastest_active_next_time,
		t_cpa_promotions_log.before_active_next_time,
		t_cpa_promotions_log.lastest_cpt_price,
		t_cpa_promotions_log.before_cpt_price,
		t_accounts.`name` AS operaterName,
		t_cpa_promotions_log.operater_type
		FROM
		t_cpa_promotions_log
		LEFT JOIN t_channels ON t_cpa_promotions_log.channel_id = t_channels.id
		LEFT JOIN t_apps ON t_cpa_promotions_log.app_id = t_apps.id
		LEFT JOIN t_accounts ON t_cpa_promotions_log.operater_id = t_accounts.id
		LEFT JOIN t_cpa_promotions ON t_cpa_promotions_log.promotion_id = t_cpa_promotions.id
		WHERE 1=1
		<if test="searchStartTime != null">
			AND DATE_FORMAT(t_cpa_promotions_log.creation_date,'%Y-%m-%d') <![CDATA[>=]]>DATE_FORMAT(#{searchStartTime,jdbcType=VARCHAR}, '%Y-%m-%d')
		</if>
		<if test="searchEndTime != null">
			AND DATE_FORMAT(t_cpa_promotions_log.creation_date,'%Y-%m-%d') <![CDATA[<=]]>DATE_FORMAT(#{searchEndTime,jdbcType=VARCHAR}, '%Y-%m-%d')
		</if>
		<if test="searchAppName != null">
			AND t_apps.`name` = #{searchAppName,jdbcType=VARCHAR}
		</if>
		<if test="searchAppNickName != null">
			AND t_cpa_promotions.app_nickname =
			#{searchAppNickName,jdbcType=VARCHAR}
		</if>
		order by t_cpa_promotions_log.creation_date desc
	</select>

	<select id="getPromotionLogsListTotalCountByCriteria"
		resultType="int"
		parameterType="com.easygame.sdk.repository.model.dto.backend.channel.CPAPromotionLogSearchCriteriaDTO">
		SELECT
		count(t_cpa_promotions_log.app_nickname)
		FROM
		t_cpa_promotions_log
		LEFT JOIN t_channels ON t_cpa_promotions_log.channel_id = t_channels.id
		LEFT JOIN t_apps ON t_cpa_promotions_log.app_id = t_apps.id
		LEFT JOIN t_accounts ON t_cpa_promotions_log.operater_id = t_accounts.id
		LEFT JOIN t_cpa_promotions ON t_cpa_promotions_log.promotion_id = t_cpa_promotions.id
		WHERE 1=1
		<if test="searchStartTime != null">
			AND DATE_FORMAT(t_cpa_promotions_log.creation_date,'%Y-%m-%d') <![CDATA[>=]]>DATE_FORMAT(#{searchStartTime,jdbcType=VARCHAR}, '%Y-%m-%d')
		</if>
		<if test="searchEndTime != null">
			AND DATE_FORMAT(t_cpa_promotions_log.creation_date,'%Y-%m-%d') <![CDATA[<=]]>DATE_FORMAT(#{searchEndTime,jdbcType=VARCHAR}, '%Y-%m-%d')
		</if>
		<if test="searchAppName != null">
			AND t_apps.`name` = #{searchAppName,jdbcType=VARCHAR}
		</if>
		<if test="searchAppNickName != null">
			AND t_cpa_promotions.app_nickname =
			#{searchAppNickName,jdbcType=VARCHAR}
		</if>
	</select>

</mapper>