<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.webservices.BannerAdServiceMapper">

	<resultMap id="BannerAdResultVO" type="com.easygame.sdk.repository.model.vo.webservices.BannerAdResultVO">
		<result column="change_time" property="changeAdTime" jdbcType="INTEGER" />
		<result column="keep_time" property="keepAdTime" jdbcType="INTEGER" />
		<collection property="bannerAds" javaType="list" ofType="com.easygame.sdk.repository.model.po.BannerAd">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="image_url" property="imageUrl" jdbcType="VARCHAR"></result>
			<result column="download_url" property="downloadUrl" jdbcType="VARCHAR"></result>
		</collection>
	</resultMap>
	<select id="getBannerAdInformation" resultMap="BannerAdResultVO">
		SELECT
		t_banner_ads.id,
		t_banner_ads.image_url,
		t_banner_ads.download_url,
		t_banner_ad_schedule.change_time,
		t_banner_ad_schedule.keep_time
		FROM
		(
		SELECT
		t_cpa_promotions.id
		FROM
		t_cpa_promotions
		WHERE
		t_cpa_promotions.app_key = #{appKey,jdbcType=VARCHAR}
		) AS cpa
		LEFT JOIN t_batch_apps ON cpa.id = t_batch_apps.cpa_promotion_id
		LEFT JOIN t_batches ON t_batches.id = t_batch_apps.batch_id
		LEFT JOIN t_banner_ad_schedule ON t_banner_ad_schedule.batch_id =
		t_batches.id
		LEFT JOIN t_banner_batch_ad_schedule ON
		t_banner_batch_ad_schedule.batch_id = t_batches.id
		LEFT JOIN t_banner_ads ON t_banner_ads.id =
		t_banner_batch_ad_schedule.ad_id
		WHERE
		t_banner_ad_schedule.is_used = 1
		AND t_banner_batch_ad_schedule.is_checked = 1
	</select>
	
 	<insert id="insertBannerAdDisplayRecord">
	    insert into t_banner_ad_display_records
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        ad_id,
	      </if>
	      <if test="ip != null" >
	        ip,
	      </if>
	      <if test="param.imei != null" >
	        imei,
	      </if>
	      <if test="param.appKey != null" >
	        appKey,
	      </if>
	      <if test="creationDate != null" >
	        creation_date,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        #{param.adId,jdbcType=INTEGER},
	      </if>
	      <if test="ip != null" >
	        #{ip,jdbcType=VARCHAR},
	      </if>
	      <if test="param.imei != null" >
	        #{param.imei,jdbcType=VARCHAR},
	      </if>
	      <if test="param.appKey != null" >
	        #{param.appKey,jdbcType=VARCHAR},
	      </if>
	      <if test="creationDate != null" >
	        #{creationDate,jdbcType=DATE},
	      </if>
	    </trim>
	  </insert>
	
	<insert id="insertBannerAdClickRecord">
	    insert into t_banner_ad_click_records
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        ad_id,
	      </if>
	      <if test="ip != null" >
	        ip,
	      </if>
	      <if test="param.imei != null" >
	        imei,
	      </if>
	      <if test="param.appKey != null" >
	        appKey,
	      </if>
	      <if test="creationDate != null" >
	        creation_date,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        #{param.adId,jdbcType=INTEGER},
	      </if>
	      <if test="ip != null" >
	        #{ip,jdbcType=VARCHAR},
	      </if>
	      <if test="param.imei != null" >
	        #{param.imei,jdbcType=VARCHAR},
	      </if>
	      <if test="param.appKey != null" >
	        #{param.appKey,jdbcType=VARCHAR},
	      </if>
	      <if test="creationDate != null" >
	        #{creationDate,jdbcType=DATE},
	      </if>
	    </trim>
	  </insert>
	  
 	<insert id="insertBannerAdDownloadRecord">
	    insert into t_banner_ad_download_records
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        ad_id,
	      </if>
	      <if test="ip != null" >
	        ip,
	      </if>
	      <if test="param.imei != null" >
	        imei,
	      </if>
	      <if test="param.appKey != null" >
	        appKey,
	      </if>
	      <if test="creationDate != null" >
	        creation_date,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        #{param.adId,jdbcType=INTEGER},
	      </if>
	      <if test="ip != null" >
	        #{ip,jdbcType=VARCHAR},
	      </if>
	      <if test="param.imei != null" >
	        #{param.imei,jdbcType=VARCHAR},
	      </if>
	      <if test="param.appKey != null" >
	        #{param.appKey,jdbcType=VARCHAR},
	      </if>
	      <if test="creationDate != null" >
	        #{creationDate,jdbcType=DATE},
	      </if>
	    </trim>
  </insert>

</mapper>