<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.webservices.GamecenterAdServiceMapper">

	<resultMap id="GamecenterAdResultVO" type="com.easygame.sdk.repository.model.vo.webservices.GamecenterAdResultVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="promotion_word" property="promotionWord" jdbcType="VARCHAR" />
		<result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
		<result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getGamecenterAdList" resultMap="GamecenterAdResultVO">
		SELECT
		t_gamecenter_ads.id,
		t_gamecenter_ads.`name`,
		t_gamecenter_ads.promotion_word,
		t_gamecenter_ads.icon_url,
		t_gamecenter_ads.download_url
		FROM
		t_gamecenter_ads
		ORDER BY
		t_gamecenter_ads.show_index
		LIMIT 20
	</select>
	
 	<insert id="insertGamecenterAdDisplayRecord">
	    insert into t_gamecenter_ad_display_records
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        ad_id,
	      </if>
	      <if test="ip != null" >
	        ip,
	      </if>
	      <if test="param.imei != null" >
	        imei,
	      </if>
	      <if test="param.appKey != null" >
	        appKey,
	      </if>
	      <if test="creationDate != null" >
	        creation_date,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        #{param.adId,jdbcType=INTEGER},
	      </if>
	      <if test="ip != null" >
	        #{ip,jdbcType=VARCHAR},
	      </if>
	      <if test="param.imei != null" >
	        #{param.imei,jdbcType=VARCHAR},
	      </if>
	      <if test="param.appKey != null" >
	        #{param.appKey,jdbcType=VARCHAR},
	      </if>
	      <if test="creationDate != null" >
	        #{creationDate,jdbcType=DATE},
	      </if>
	    </trim>
	  </insert>
	
	<insert id="insertGamecenterAdClickRecord">
	    insert into t_gamecenter_ad_click_records
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        ad_id,
	      </if>
	      <if test="ip != null" >
	        ip,
	      </if>
	      <if test="param.imei != null" >
	        imei,
	      </if>
	      <if test="param.appKey != null" >
	        appKey,
	      </if>
	      <if test="creationDate != null" >
	        creation_date,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        #{param.adId,jdbcType=INTEGER},
	      </if>
	      <if test="ip != null" >
	        #{ip,jdbcType=VARCHAR},
	      </if>
	      <if test="param.imei != null" >
	        #{param.imei,jdbcType=VARCHAR},
	      </if>
	      <if test="param.appKey != null" >
	        #{param.appKey,jdbcType=VARCHAR},
	      </if>
	      <if test="creationDate != null" >
	        #{creationDate,jdbcType=DATE},
	      </if>
	    </trim>
	  </insert>
	  
 	<insert id="insertGamecenterAdDownloadRecord">
	    insert into t_gamecenter_ad_download_records
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        ad_id,
	      </if>
	      <if test="ip != null" >
	        ip,
	      </if>
	      <if test="param.imei != null" >
	        imei,
	      </if>
	      <if test="param.appKey != null" >
	        appKey,
	      </if>
	      <if test="creationDate != null" >
	        creation_date,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="param.adId != null" >
	        #{param.adId,jdbcType=INTEGER},
	      </if>
	      <if test="ip != null" >
	        #{ip,jdbcType=VARCHAR},
	      </if>
	      <if test="param.imei != null" >
	        #{param.imei,jdbcType=VARCHAR},
	      </if>
	      <if test="param.appKey != null" >
	        #{param.appKey,jdbcType=VARCHAR},
	      </if>
	      <if test="creationDate != null" >
	        #{creationDate,jdbcType=DATE},
	      </if>
	    </trim>
  </insert>

</mapper>