<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.backend.ad.BannerAdMapper" >
  <resultMap id="BannerAdShowVO" type="com.easygame.sdk.repository.model.vo.backend.ad.BannerAdShowVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
    <result column="cpa_appKey" property="cpaAppKey" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="BannerAdModifyDTO" type="com.easygame.sdk.repository.model.dto.backend.ad.BannerAdModifyDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
    <result column="cpa_appKey" property="cpaAppKey" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <select id="selectBannerAdListByCriteria" resultMap="BannerAdShowVO" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.search.BannerAdSearchCriteriaDTO">
  SELECT
		t_banner_ads.id,
		t_banner_ads.`name`,
		t_banner_ads.image_Url,
		t_banner_ads.download_Url,
		t_banner_ads.cpa_Appkey
		FROM
		(
		SELECT
		t_banner_ads.id
		FROM
		t_banner_ads
		WHERE
		1 = 1
		<if test="searchCpaAppKey != null">
			AND t_banner_ads.`cpa_Appkey` LIKE '%${searchCpaAppKey}%'
		</if>
		<if test="searchBannerAdName != null">
			AND t_banner_ads.`name` LIKE '%${searchBannerAdName}%'
		</if>
		LIMIT
		#{pagination.startRow,jdbcType=INTEGER},
		#{pagination.pageSize,jdbcType=INTEGER}
		) AS selectedData
		LEFT JOIN
		t_banner_ads ON selectedData.id = t_banner_ads.id
		order by
		t_banner_ads.id desc
  </select>
  
   <select id="selectBannerAdMaxId" resultType="int">
		SELECT
		IFNULL(MAX(id),0)
		FROM t_banner_ads
	</select>
	
  <select id="checkIfBannerAdExist" resultType="int">
		SELECT
		count(t_banner_ads.id)
		FROM
		t_banner_ads
		WHERE
		t_banner_ads.`name` =
		#{bannerAdName,jdbcType=VARCHAR}
		<if test="id != null">
			<if test="id != 0">
				AND t_banner_ads.id != #{id,jdbcType=INTEGER}
			</if>
		</if>
	</select>
  
  <select id="checkBannerAdDeleteSecurity" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT
		count(t_promotions.id)
		FROM
		t_promotions
		WHERE
		t_promotions.bannerAd_id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="selectBannerAdByPrimaryKey" resultMap="BannerAdShowVO"
		parameterType="java.lang.Integer">
		SELECT
		 id, name, image_url, download_url, cpa_appKey from t_banner_ads where id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="getBannerAdListTotalCountByCriteria" resultType="int" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.search.BannerAdSearchCriteriaDTO">
		SELECT
		count(t_banner_ads.id)
		FROM
		t_banner_ads
		WHERE 1 = 1
		<if test="searchCpaAppKey != null">
			AND t_banner_ads.`cpa_appKey` LIKE '%${searchCpaAppKey}%'
		</if>
		<if test="searchBannerAdName != null">
			AND t_banner_ads.`name` LIKE '%${searchBannerAdName}%'
		</if>
	</select>
  
  <insert id="insertBannerAd" parameterType="com.easygame.sdk.repository.model.po.BannerAd" >
  <selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
    insert into t_banner_ads
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="downloadUrl != null" >
        download_url,
      </if>
      <if test="cpaAppkey != null" >
        cpa_appKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrl != null" >
        #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="cpaAppkey != null" >
        #{cpaAppkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateBannerAd" parameterType="com.easygame.sdk.repository.model.po.BannerAd" >
    update t_banner_ads
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrl != null" >
        download_url = #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="cpaAppkey != null" >
        cpa_appKey = #{cpaAppkey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
 
  
  <delete id="deleteBannerAdByPrimaryKey" parameterType="java.lang.Integer">
		delete 
		from	t_banner_ads 
		where id = #{id,jdbcType=INTEGER}
	</delete>
  
  
  
</mapper>