<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.backend.ad.BatchMapper" >

  <resultMap id="ChannelVO" type="com.easygame.sdk.repository.model.vo.backend.ad.selection.ChannelVO" >
    <id column="channel_id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getCpaChannelList" resultMap="ChannelVO">
  	SELECT
	t_cpa_promotions.channel_id,
	t_channels.`name`
	FROM
	t_cpa_promotions
	LEFT JOIN t_channels ON t_cpa_promotions.channel_id = t_channels.id
	GROUP BY
	t_cpa_promotions.channel_id 
	ORDER BY t_cpa_promotions.channel_id DESC
  </select>
  
  <resultMap id="AppVO" type="com.easygame.sdk.repository.model.vo.backend.ad.selection.AppVO" >
    <id column="app_id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getAppList" resultMap="AppVO">
  	SELECT
	t_cpa_promotions.app_id,
	t_apps.`name`
	FROM
	t_cpa_promotions
	LEFT JOIN t_apps ON t_cpa_promotions.app_id = t_apps.id
	WHERE t_cpa_promotions.channel_id = #{channelId,jdbcType=INTEGER}
	GROUP BY
	t_cpa_promotions.app_id 
	ORDER BY t_cpa_promotions.app_id DESC
  </select>
  
  <resultMap id="CpaAppVO" type="com.easygame.sdk.repository.model.vo.backend.ad.selection.CpaAppVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channelName" property="channelName" jdbcType="VARCHAR" />
    <result column="appName" property="appName" jdbcType="VARCHAR" />
    <result column="app_nickname" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getCpaAppList" resultMap="CpaAppVO">
  	SELECT
	t_cpa_promotions.id,
	t_cpa_promotions.app_nickname
	FROM t_cpa_promotions
	WHERE t_cpa_promotions.app_id = #{appId,jdbcType=INTEGER}
	AND t_cpa_promotions.channel_id = #{channelId,jdbcType=INTEGER}
	ORDER BY t_cpa_promotions.id DESC
  </select>
  
  <select id="getCpaPromotion" resultMap="CpaAppVO">
  	SELECT
	t_cpa_promotions.id,
	t_cpa_promotions.app_nickname,
	t_channels.`name` AS channelName,
	t_apps.`name` AS appName
	FROM t_cpa_promotions
	LEFT JOIN t_channels ON t_channels.id = t_cpa_promotions.channel_id
	LEFT JOIN t_apps ON t_apps.id = t_cpa_promotions.app_id
	WHERE t_cpa_promotions.id = #{cpaId,jdbcType=INTEGER}
  </select>
  
</mapper>