<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.easygame.sdk.repository.mapper.backend.ad.GamecenterAdMapper">
	<resultMap id="GamecenterAdShowVO"
		type="com.easygame.sdk.repository.model.vo.backend.ad.GamecenterAdShowVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="promotion_word" property="promotionWord" jdbcType="VARCHAR" />
		<result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
		<result column="show_index" property="showIndex" jdbcType="INTEGER" />
	</resultMap>
	<select id="selectGamecenterAdListByCriteria" resultMap="GamecenterAdShowVO" parameterType="java.lang.Integer">
		SELECT
		t_gamecenter_ads.id,
		t_gamecenter_ads.`name`,
		t_gamecenter_ads.icon_url,
		t_gamecenter_ads.promotion_word,
		t_gamecenter_ads.show_index
		FROM
		(
		SELECT
		t_gamecenter_ads.id 
		FROM
		t_gamecenter_ads
		WHERE
		1 = 1
		<if test="searchGamecenterAdName != null">
			AND t_gamecenter_ads.`name` LIKE '%${searchGamecenterAdName}%'
		</if>
		LIMIT
		#{pagination.startRow,jdbcType=INTEGER},
		#{pagination.pageSize,jdbcType=INTEGER}
		) AS selectedData
		LEFT JOIN
		t_gamecenter_ads ON selectedData.id = t_gamecenter_ads.id
		order by
		t_gamecenter_ads.id desc
	</select>
	
	<select id="getGamecenterAdListTotalCountByCriteria" resultType="int" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.search.GamecenterAdSearchCriteriaDTO">
		SELECT
		count(t_gamecenter_ads.id)
		FROM
		t_gamecenter_ads
		WHERE 1 = 1
		
		<if test="searchGamecenterAdName != null">
			AND t_gamecenter_ads.`name` LIKE '%${searchGamecenterAdName}%'
		</if>
	</select>
	
	<select id="selectGamecenterAdByPrimaryKey" resultMap="GamecenterAdShowVO"
		parameterType="java.lang.Integer">
		SELECT
		 id, name, promotion_word, icon_url, show_index  from t_gamecenter_ads where id = #{id,jdbcType=INTEGER}
	</select>
	
	 <select id="checkIfGamecenterAdExist" resultType="int">
		SELECT
		count(t_gamecenter_ads.id)
		FROM
		t_gamecenter_ads
		WHERE
		t_gamecenter_ads.`name` =
		#{gamecenterAdName,jdbcType=VARCHAR}
		<if test="id != null">
			<if test="id != 0">
				AND t_gamecenter_ads.id != #{id,jdbcType=INTEGER}
			</if>
		</if>
	</select>
	
	 <select id="checkGamecenterAdDeleteSecurity" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT
		count(t_promotions.id)
		FROM
		t_gamecenter_ads
		WHERE
		t_gamecenter_ads.id = #{id,jdbcType=INTEGER}
	</select>
	
	 <select id="checkIfShowIndexExist" resultType="int">
		SELECT
		count(t_gamecenter_ads.id)
		FROM
		t_gamecenter_ads
		WHERE
		t_gamecenter_ads.`show_index` =
		#{showIndex,jdbcType=VARCHAR}
	</select>
	
	
	 <select id="selectGamecenterAdMaxShowIndex" resultType="int">
		SELECT
		IFNULL(MAX(show_index),0)
		FROM t_gamecenter_ads
	</select>
	
	<insert id="insertGamecenterAd"
		parameterType="com.easygame.sdk.repository.model.dto.backend.ad.GamecenterAdModifyDTO">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
		insert into t_gamecenter_ads
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="promotionWord != null">
				promotion_word,
			</if>
			<if test="iconUrl != null">
				icon_url,
			</if>
			<if test="downloadUrl != null">
				download_url,
			</if>
			<if test="appkey != null">
				appKey,
			</if>
			<if test="showIndex != null">
				show_index,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
	
			<if test="promotionWord != null">
				#{promotionWord,jdbcType=VARCHAR},
			</if>
			<if test="iconUrl != null">
				#{iconUrl,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				#{downloadUrl,jdbcType=VARCHAR},
			</if>
				<if test="appkey != null">
				#{appkey,jdbcType=VARCHAR},
			</if>
			<if test="showIndex != null">
				#{showIndex,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateAllShowIndex" parameterType="java.lang.Boolean" >
		update t_gamecenter_ads 
		<set>
			<if test="move==true">
			t_gamecenter_ads.show_index=show_index+1
			</if>
			<if test="move==false">
			t_gamecenter_ads.show_index=show_index-1
			</if>
		</set>	
		where 
		1=1
			<if test="move==true">
			AND show_index between  #{showIndex,jdbcType=INTEGER} and #{originalShowIndex,jdbcType=INTEGER}-1
			</if>
			<if test="move==false">
			AND show_index between #{originalShowIndex,jdbcType=INTEGER}+1 and #{showIndex,jdbcType=INTEGER}
			</if>
	</update>
	
	<update id="updateShowIndex" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.GamecenterAdModifyDTO" >
		update t_gamecenter_ads 
		<set>
			<if test="showIndex != null">
			t_gamecenter_ads.show_index=#{showIndex,jdbcType=INTEGER}
			</if>
		</set>	
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateGamecenterAd" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.GamecenterAdModifyDTO">
		update t_gamecenter_ads
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="promotionWord != null">
				promotion_word = #{promotionWord,jdbcType=VARCHAR},
			</if>
			<if test="iconUrl != null">
				icon_url = #{iconUrl,jdbcType=VARCHAR},
			</if>
			<if test="showIndex != null">
				show_index = #{showIndex,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteGamecenterAdByPrimaryKey" parameterType="java.lang.Integer">
		delete 
		from t_gamecenter_ads 
		where id = #{id,jdbcType=INTEGER}
	</delete>
</mapper>