<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.easygame.sdk.repository.mapper.backend.ad.NotificationAdMapper">
	<resultMap id="NotificationAdShowVO"
		type="com.easygame.sdk.repository.model.vo.backend.ad.NotificationAdShowVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="app_name" property="appName" jdbcType="VARCHAR" />
		<result column="promotion_word" property="promotionWord"
			jdbcType="VARCHAR" />
		<result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
		<result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
		<result column="cpa_appKey" property="cpaAppKey" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectNotificationAdListByCriteria" resultMap="NotificationAdShowVO"
		parameterType="java.lang.Integer">
		SELECT
		t_notification_ads.id,
		t_notification_ads.`name`,
		t_notification_ads.`app_name`,
		t_notification_ads.icon_url,
		t_notification_ads.promotion_word,
		t_notification_ads.download_url,
		t_notification_ads.cpa_appKey
		FROM
		(
		SELECT
		t_notification_ads.id
		FROM
		t_notification_ads
		WHERE
		1 = 1
		<if test="searchCpaAppKey != null">
			AND t_notification_ads.`cpa_appKey` LIKE '%${searchCpaAppKey}%'
		</if>
		<if test="searchNotificationAdAppName != null">
			AND t_notification_ads.app_Name LIKE '%${searchNotificationAdAppName}%'
		</if>
		<if test="searchNotificationAdName != null">
			AND t_notification_ads.`name` LIKE '%${searchNotificationAdName}%'
		</if>
		LIMIT
		#{pagination.startRow,jdbcType=INTEGER},
		#{pagination.pageSize,jdbcType=INTEGER}
		) AS selectedData
		LEFT JOIN
		t_notification_ads ON selectedData.id = t_notification_ads.id
		order by
		t_notification_ads.id desc
		
	</select>

	<select id="getNotificationAdListTotalCountByCriteria" resultType="int" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.search.NotificationAdSearchCriteriaDTO">
		SELECT
		count(t_notification_ads.id)
		FROM
		t_notification_ads
		WHERE 1 = 1
		<if test="searchCpaAppKey != null">
			AND t_notification_ads.`cpa_appKey` LIKE '%${searchCpaAppKey}%'
		</if>
		<if test="searchNotificationAdAppName != null">
			AND t_notification_ads.`app_Name` LIKE '%${searchNotificationAdAppName}%'
		</if>
		<if test="searchNotificationAdName != null">
			AND t_notification_ads.`name` LIKE '%${searchNotificationAdName}%'
		</if>
	</select>
	
	<select id="selectNotificationAdByPrimaryKey" resultMap="NotificationAdShowVO"
		parameterType="java.lang.Integer">
		SELECT
		 id, name,app_name, promotion_word, icon_url, download_url, cpa_appKey from t_notification_ads where id = #{id,jdbcType=INTEGER}
	</select>
	
	 <select id="checkIfNotificationAdExist" resultType="int">
		SELECT
		count(t_notification_ads.id)
		FROM
		t_notification_ads
		WHERE
		t_notification_ads.`name` =
		#{notificationAdName,jdbcType=VARCHAR}
		<if test="id != null">
			<if test="id != 0">
				AND t_notification_ads.id != #{id,jdbcType=INTEGER}
			</if>
		</if>
	</select>
	
	<insert id="insertNotificationAd"
		parameterType="com.easygame.sdk.repository.model.dto.backend.ad.NotificationAdModifyDTO">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
		insert into t_notification_ads
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="appName != null">
				app_name,
			</if>
			<if test="promotionWord != null">
				promotion_word,
			</if>
			<if test="iconUrl != null">
				icon_url,
			</if>
			<if test="downloadUrl != null">
				download_url,
			</if>
			<if test="cpaAppkey != null">
				cpa_appKey,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				#{appName,jdbcType=VARCHAR},
			</if>
			<if test="promotionWord != null">
				#{promotionWord,jdbcType=VARCHAR},
			</if>
			<if test="iconUrl != null">
				#{iconUrl,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				#{downloadUrl,jdbcType=VARCHAR},
			</if>
			<if test="cpaAppkey != null">
				#{cpaAppkey,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateNotificationAd" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.NotificationAdModifyDTO">
		update t_notification_ads
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				app_name = #{appName,jdbcType=VARCHAR},
			</if>
			<if test="promotionWord != null">
				promotion_word = #{promotionWord,jdbcType=VARCHAR},
			</if>
			<if test="iconUrl != null">
				icon_url = #{iconUrl,jdbcType=VARCHAR},
			</if>
			<if test="downloadUrl != null">
				download_url = #{downloadUrl,jdbcType=VARCHAR},
			</if>
			<if test="cpaAppkey != null">
				cpa_appKey = #{cpaAppkey,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteNotificationAdByPrimaryKey" parameterType="java.lang.Integer">
		delete 
		from	t_notification_ads 
		where id = #{id,jdbcType=INTEGER}
	</delete>
</mapper>