<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easygame.sdk.repository.mapper.backend.ad.ScreenAdMapper" >
  <resultMap id="ScreenAdShowVO" type="com.easygame.sdk.repository.model.vo.backend.ad.ScreenAdShowVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
    <result column="cpa_appKey" property="cpaAppKey" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="ScreenAdModifyDTO" type="com.easygame.sdk.repository.model.dto.backend.ad.ScreenAdModifyDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
    <result column="cpa_appKey" property="cpaAppKey" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <select id="selectScreenAdListByCriteria" resultMap="ScreenAdShowVO" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.search.ScreenAdSearchCriteriaDTO">
  SELECT
		t_screen_ads.id,
		t_screen_ads.`name`,
		t_screen_ads.image_Url,
		t_screen_ads.download_Url,
		t_screen_ads.cpa_Appkey
		FROM
		(
		SELECT
		t_screen_ads.id
		FROM
		t_screen_ads
		WHERE
		1 = 1
		<if test="searchCpaAppKey != null">
			AND t_screen_ads.`cpa_Appkey` LIKE '%${searchCpaAppKey}%'
		</if>
		<if test="searchScreenAdName != null">
			AND t_screen_ads.`name` LIKE '%${searchScreenAdName}%'
		</if>
		LIMIT
		#{pagination.startRow,jdbcType=INTEGER},
		#{pagination.pageSize,jdbcType=INTEGER}
		) AS selectedData
		LEFT JOIN
		t_screen_ads ON selectedData.id = t_screen_ads.id
		order by
		t_screen_ads.id desc
  </select>
  
   <select id="selectScreenAdMaxId" resultType="int">
		SELECT
		IFNULL(MAX(id),0)
		FROM t_screen_ads
	</select>
	
  <select id="checkIfScreenAdExist" resultType="int">
		SELECT
		count(t_screen_ads.id)
		FROM
		t_screen_ads
		WHERE
		t_screen_ads.`name` =
		#{screenAdName,jdbcType=VARCHAR}
		<if test="id != null">
			<if test="id != 0">
				AND t_screen_ads.id != #{id,jdbcType=INTEGER}
			</if>
		</if>
	</select>
  
  <select id="checkScreenAdDeleteSecurity" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT
		count(t_promotions.id)
		FROM
		t_promotions
		WHERE
		t_promotions.screenAd_id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="selectScreenAdByPrimaryKey" resultMap="ScreenAdShowVO"
		parameterType="java.lang.Integer">
		SELECT
		 id, name, image_url, download_url, cpa_appKey from t_screen_ads where id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="getScreenAdListTotalCountByCriteria" resultType="int" parameterType="com.easygame.sdk.repository.model.dto.backend.ad.search.ScreenAdSearchCriteriaDTO">
		SELECT
		count(t_screen_ads.id)
		FROM
		t_screen_ads
		WHERE 1 = 1
		<if test="searchCpaAppKey != null">
			AND t_screen_ads.`cpa_appKey` LIKE '%${searchCpaAppKey}%'
		</if>
		<if test="searchScreenAdName != null">
			AND t_screen_ads.`name` LIKE '%${searchScreenAdName}%'
		</if>
	</select>
  
  <insert id="insertScreenAd" parameterType="com.easygame.sdk.repository.model.po.ScreenAd" >
  <selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
    insert into t_screen_ads
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="downloadUrl != null" >
        download_url,
      </if>
      <if test="cpaAppkey != null" >
        cpa_appKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrl != null" >
        #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="cpaAppkey != null" >
        #{cpaAppkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateScreenAd" parameterType="com.easygame.sdk.repository.model.po.ScreenAd" >
    update t_screen_ads
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrl != null" >
        download_url = #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="cpaAppkey != null" >
        cpa_appKey = #{cpaAppkey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
 
  
  <delete id="deleteScreenAdByPrimaryKey" parameterType="java.lang.Integer">
		delete 
		from	t_screen_ads 
		where id = #{id,jdbcType=INTEGER}
	</delete>
  
  
  
</mapper>