@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
body {font:12px/15pt "Arial","宋体";background:#fafafa;color:#333333 }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a{margin:0;padding:0;font-size:12px;vertical-align:baseline;background:transparent;font-family:"Arial","宋体";text-decoration:none;color:#333333;cursor:pointer}
a:hover{text-decoration:underline;color:#04518C}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }
 /* change colours to suit your needs */
ins {background-color:#ff9;color:#000;text-decoration:none;}
/* change colours to suit your needs */
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
select{position:relative;z-index:0}
table {border-collapse:collapse;border-spacing:0;empty-cells: show;}
/* change border colour to suit your needs */
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select {vertical-align:middle;}
ul,li{list-style:none;}
em{font-style:normal;font-weight:normal}
tr{display:table-row;}
.mar1{vertical-align:middle}
/*public*/
.clear{clear:both}
.ver{vertical-align:middle;height:18px;line-height:18px}
.pub_toper,.toper,.middler,.footer{width:100%;}
.pub_top,.top,.middle,.foot{width:980px;margin:0 auto;padding:0}
.pub_toper{height:35px;padding-bottom:2px;background:url(../images/pubtopbg.jpg) repeat-x;}
.pub_top{height:35px;}
.pub_t_left{float:left;line-height:35px;}
.pub_t_left a{margin-right:15px}
.pub_t_right{float:right;padding-top:4px;}
.pub_t_right a{margin-left:10px;display:block;color:#ffffff;float:left;width:65px;height:29px;line-height:27px;text-align:center}
.pub_t_right a.register{background:url(../images/top_register.jpg) no-repeat}
.pub_t_right a.login{background:url(../images/top_login.jpg) no-repeat}
.pub_t_right a:hover{background-position:0 -29px;text-decoration:none;color:#FFFFFF}
.pub_t_userinfo{float:right;line-height:35px;position:relative;padding-right:50px;z-index:97}
.p_t_uiexit{position:absolute;right:0;z-index:999;top:0}
.p_t_uiexit a.userexit{color:#666666;background:url(../images/exit.jpg) no-repeat right 12px;padding-right:14px;display:block;height:35px;line-height:35px;width:24px;_background-position:right 11px;*background-position:right 11px;}
.p_t_uiexit a:hover{text-decoration:none}
.p_t_uigongneng{background:#f5f5f5;height:36px;line-height:36px;border-top:1px solid #FFFFFF;padding-left:10px;}
.p_t_uigongneng a{margin:0 20px 0 5px;padding:2px 0 2px 17px}
.p_t_uigongneng a.changepsd{background:url(../images/changepsd.jpg) no-repeat left center}
.p_t_uigongneng a.setpsd{background:url(../images/setpsd.jpg) no-repeat left center;}
.p_t_uiblock{position:absolute;z-index:99;background:#FFFFFF;border:1px solid #dddddd;width:300px;right:0;top:34px;}
.p_t_uigname{border-bottom:1px solid #DDDDDD;padding:10px;line-height:18px;overflow:hidden;zoom:1}
.p_t_uigname span{float:left;width:65px}
.p_t_uibin{padding:10px 10px 0;}
.p_t_uibin a{float:right;color:#0000ff}
.p_t_uigul{float:right;width:210px}
.p_t_uigul li{float:left;width:95px;text-align:center;border:1px solid #DDDDDD;background:#f9f9f9;margin-right:7px;margin-bottom:7px;line-height:20px}
.p_t_uigul li a{border-top:1px solid #FFFFFF;display:block}
.p_t_welcome{line-height:34px;padding:0 10px;height:34px;margin:0 1px;float:right}
.p_t_active{border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;border-bottom:1px solid #ffffff;position:relative;z-index:999;height:34px;background:#FFFFFF;margin:0}
.p_t_welcome a{display:block;background:url(../images/xia.jpg) no-repeat right center;padding-right:30px}
.p_t_welcome a:hover{text-decoration:none}
.p_t_welcome strong{background:url(../images/userbg.jpg) no-repeat left center;padding:5px 0 5px 24px}
.p_t_active a{background:url(../images/shang.jpg) no-repeat right center;}
/**/
.pay_righ_con,.help_div,.pay_left_div{border:1px solid #DDDDDD;background:#FFFFFF;}
.help_div,.pay_left_div{margin-bottom:18px;}
.pay_container,.help_container{padding:18px 0;overflow:hidden;zoom:1}
.help_left,.pay_left{float:left;width:200px;}
.help_right,.pay_right{float:right;width:762px;}
.game_post_title,.help_div_title,.pay_div_title{background:#f9f9f9;border-top:1px solid #FFFFFF;border-bottom:1px solid #dddddd;line-height:32px;font-family:"Microsoft Yahei";font-weight:500;text-indent:0.5em;font-size:14px;color:#005bb9}
.game_post_title a{float:right;margin-right:10px;color:#666666}
.game_post_title a:hover{color:#005bb9}
.moneytext{height:28px;width:160px;line-height:28px;padding:0 8px;border:1px solid #CCCCCC;background:url(../images/textbg.jpg) no-repeat;vertical-align:middle}
.textwidth{width:80px;margin-right:18px;margin-left:8px}
.bodyselect{height:30px;padding:5px;background:url(../images/textbg.jpg) no-repeat;border:1px solid #cccccc;line-height:30px;width:178px}
/*顶部*/
.toper{border-bottom:5px solid #2a57b9;background:#FFFFFF;}
.top{overflow:hidden;zoom:1;padding:16px;position:relative;background:#FFFFFF;height:40px}
.top_logo{float:left;width:184px;}
.top_logo a{display:block;height:40px;width:184px;background:url(../images/logo.jpg?v2) no-repeat;text-indent:-999em;}
.top_nav{float:right;width:505px}
.nav_menus{height:34px;padding:3px 0}
.nav_menus li{float:left;line-height:32px;height:34px;width:101px;text-align:center}
	.nav_menus li a{font-family:"Microsoft Yahei";font-size:15px;font-weight:500;letter-spacing:1px;display:block}
.nav_menus li a.active,.nav_menus li a:hover{background:url(../images/navbg.jpg) no-repeat center center;display:block;height:100%;width:100%;color:#FFFFFF;text-decoration:none}
.banner{background:#333333;height:410px;width:100%;border-bottom:5px solid #2a57b9;position:relative;overflow:hidden}
.banner_img{width:width:100%;height:410px;position:relative;background:#333333;margin:0 auto;}
.banner_imgcon{height:410px;overflow:hidden;position:absolute;width:100%;}
.banner_imgcon li{width:100%;text-align:center;overflow:hidden;vertical-align:middle;line-height:410px;}
.banner_imgcon li a{display:block;width:100%;height:410px;text-align:center;vertical-align:middle;line-height:410px}
.banner_imgcon li a img{margin-top:189px}
.banbtn_prev,.banbtn_next{position:absolute;height:64px;width:64px;display:block;text-indent:-999em;top:50%;margin-top:-32px}
.banbtn_prev{left:50%;background:url(../images/bannerleft.png) no-repeat;margin-left:-600px}
.banbtn_next{right:50%;background:url(../images/bannerright.png) no-repeat;margin-right:-600px}
.banbtn_prev:hover,.banbtn_next:hover{background-position:0 -64px;}
.recommend_game{position:relative;padding-top:20px}
.recd_game_title{font-family:"Microsoft Yahei","黑体";font-size:16px;font-weight:500;;line-height:26px;padding-bottom:10px;color:#005bb9;background:url(../images/titlebg.jpg) no-repeat;padding-left:30px}
.recd_game_more{position:absolute;right:0;top:20px;line-height:26px;}
.recd_game_more a{color:#666666}
.recd_game_more a:hover{color:#005bb9}
.recd_game_div{
	overflow:hidden;
	zoom:1;
	width:980px;
	padding-bottom:10px;
	font: 微软雅黑;
}
.recd_game_con{width:1000px;overflow:hidden;zoom:1}
.recd_game_con li{float:left;width:180px;margin-right:20px;background:url(../images/redgameshdow.jpg) no-repeat center bottom;padding-bottom:18px;}
.recd_game_bor{border:1px solid #DDDDDD;padding:9px;background:#FFFFFF;}
.recd_game_hidden{overflow:hidden;width:160px;height:210px;}
.recd_game_info{width:160px;height:210px;overflow:hidden}
.recd_game_info .gameimg{width:160px;height:180px;display:block}
.recd_game_data{padding:3px 0;height:24px;line-height:24px;overflow:hidden;font-family:"Microsoft Yahei";font-size:14px;}
.recd_game_data .recd_game_system{display:block;float:right}
.recd_game_down{text-align:center;background:#000000;padding:0px 20px;height:210px;width:120px;}
.recd_game_down img{height:120px;width:120px;padding:0;margin:10px 0 0}
.recd_game_down a{display:block;width:120px;height:26px;margin-top:7px;line-height:26px;color:#FFFFFF}
.recd_game_down a.game_a_down{background:url(../images/gamedown.jpg) no-repeat;}
.recd_game_down a.game_a_enter{background:url(../images/enterweb.jpg) no-repeat;}
.recd_game_down a:hover{background-position:0 -26px;text-decoration:none;color:#ffffff}
.recd_game_tab{display:none}
.game_data{border:1px solid #DDDDDD;background:#FFFFFF;height:88px}
.game_dleft{width:360px;height:88px;float:left;background:url(../images/libao.jpg) no-repeat;position:relative}
.libao_info{line-height:24px;padding:8px 20px 0 70px}
.libao_href{position:absolute;right:20px;bottom:10px;width:118px;height:28px;}
.libao_href a{display:block;width:118px;height:28px;text-indent:-999em;background:url(../images/libaohref.jpg) no-repeat;}
.dating_img{float:left;padding:8px 10px 0 68px;}
.dating_info{padding-top:5px;}
.dating_info a{font-family:"Microsoft Yahei";font-size:16px;font-weight:500;line-height:26px;}
.dating_info p{padding-top:8px;line-height:20px;}
.dating_href{position:absolute;bottom:10px;right:20px}
.dating_href a{display:block;height:28px;width:94px;background:url(../images/datinghref.jpg) no-repeat;text-indent:-999em;}
.game_ldating{background:url(../images/dating.jpg) no-repeat}
.game_dright{float:right;width:258px;height:88px;background:url(../images/customer.jpg) no-repeat;}
.game_dright a{width:258px;height:88px;display:block;text-indent:-999em;}
.game_bottom{overflow:hidden;zoom:1;padding:18px 0;height:255px}
.game_post{float:left;border:1px solid #dddddd;background:#FFFFFF;width:340px;margin-right:18px;height:100%}
.game_post_ul{padding:6px 10px 0}
.game_post_ul li{background:url(../images/libg.jpg) no-repeat left center;line-height:26px;height:26px;padding-left:12px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden}
.game_post_ul li span{float:right;color:#666666}
.game_post_ul li a{}
.game_activity_hot{padding:10px 10px 0;overflow:hidden;zoom:1;}
.game_activity_hot p a{display:block;color:#b70000;width:100%}
.game_activity_hot p{display:block;}
.game_activity_hot p.span_left{float:left;margin-right:10px;width:130px;}
.game_activity_hot p.span_left img{width:130px;height:70px;display:block;}
.game_activity_hot p.span_right a{float:left;width:180px;font-family:"Microsoft Yahei";font-weight:500;font-size:16px;line-height:23px;}
.game_activity_hot p.span_right a:hover{text-decoration:underline}
.game_server{float:right;width:256px;border:1px solid #dddddd;background:#FFFFFF;height:24px;height:100%}
.game_serverdiv{padding:10px}
.game_servertable {}
.game_servertable td {color: #454545;line-height: 28px;text-align: center;}
.game_servertable td.tdtitle {background:#e5f8fe;border: none;color: #A00000;}
.game_servertable td a {color: #454545;}
.game_server_page {padding: 8px 0 0;text-align: center;}
.game_server_page a {display: inline-block;height: 18px;line-height: 17px; margin: 0 3px; width: 17px;border:1px solid #dddddd;line-height:18px;text-align:center}
.game_server_page a.action {color: #FFFFFF;background:#ff5a00;border:1px solid #db3e00}
.game_server_page a:hover {text-decoration: none;}
/*gift*/
.game_gift{border:1px solid #DDDDDD;margin:18px 0;overflow:hidden;zoom:1;background:url(../images/giftleftbg.jpg) repeat-y #FFFFFF;}
.game_gift_left{float:left;width:201px;}
.game_gift_list{}
.game_gift_list li{border-bottom:1px solid #DDDDDD;height:49px;position:relative;z-index:98;width:200px}
.game_gift_list li span{position:absolute;top:8px;left:8px;z-index:100}
.game_gift_list li span img{height:32px;width:32px;}
.game_gift_list li a{display:block;height:48px;width:100%;line-height:48px;text-indent:50px;font-family:"Microsoft Yahei";font-weight:500;font-size:14px;border-top:1px solid #FFFFFF;}
.game_gift_list li a.active,.game_gift_list li a:hover{width:201px;position:relative;z-index:99;background:url(../images/jiantou.jpg) no-repeat 180px center #FFFFFF;color:#2a57b9;text-decoration:none;}
.game_gift_right{float:right;width:760px;}
.game_gift_top{height:31px;position:relative;border-bottom:1px solid #DDDDDD;margin-top:18px;padding-left:5px;}
.game_gift_top a{display:block;float:left;height:31px;width:84px;margin-right:10px;line-height:31px;background:url(../images/libaoaaction.jpg) no-repeat;text-align:center;color:#333333}
.game_gift_top a.action{background:url(../images/libaoa.jpg) no-repeat;font-weight:bold;height:33px;}
.game_gift_con{padding-right:18px;padding-top:18px}
.game_gift_ul{}
.game_gift_ul li{border-bottom:1px dotted #bbbbbb;padding-bottom:18px;overflow:hidden;zoom:1;margin-bottom:18px;position:relative;z-index:997}
.game_gift_ilimg{float:left;width:210px;padding-right:15px;}
.game_gift_ilimg img{width:210px;height:102px;}
.game_gift_ilinfo{float:left;width:400px;padding-right:15px}
.game_gift_ilinfo h2{font-family:"Microsoft Yahei";font-size:16px;font-weight:500;padding-bottom:7px;color:#ae0000;line-height:28px}
.game_gift_ilinfo p{line-height:22px;color:#3d4c5d}
.game_gift_use{margin-top:5px;line-height:22px;}
.game_gift_use a{color:#0072ff;background:url(../images/lb_jiantous.jpg) no-repeat right center;padding-right:15px;}
.game_gift_use a.action{background:url(../images/lb_jiantou.jpg) no-repeat right center;}
.game_gift_useinfo{padding-top:16px;position:relative;clear:both;background:url(../images/libao_shagn.jpg) no-repeat 0 0;}
.game_gift_jt{border:1px solid #dddddd;border-top:none;padding:10px;background:#FFFFFF;color:#666666}
.game_gift_useinfo p{color:#666666}
.game_gift_ilbtn{float:left;width:100px;padding-top:31px;position:relative}
.game_gift_libtn_a{text-align:right}
.game_gift_libtn_a a{background:url(../images/libaobtn.jpg) no-repeat;display:inline-block;width:90px;height:34px;line-height:32px;font-family:"Microsoft Yahei";font-size:16px;text-align:center;color:#ffffff;letter-spacing:2px}
.game_gift_libtn_a a:hover{background-position:0 -34px;text-decoration:none;color:#FFFFFF}
.game_gift_libtn_a span{background:url(../images/libaobtns.jpg) no-repeat;display:inline-block;width:90px;height:34px;line-height:32px;font-family:"Microsoft Yahei";font-size:16px;text-align:center;color:#ffffff;letter-spacing:2px}
.game_gift_jihuoma{position:absolute;right:0;top:0px;line-height:24px;background:#FFFFFF;border:1px solid #dddddd;padding:0 10px;clear:both;z-index:999}
.game_gift_jihuoma strong{color:#000000;font-family:"Consolas","Arial","Helvetica","sans-serif";}
.game_gift_jihuoma a{margin:0 8px;color:#0000ff}
.game_gift_pages{text-align:center;padding:5px 0 20px;}
.game_gift_pages a{padding:3px 6px ;margin:0 5px;border:1px solid #cccccc;background:#FFFFFF}
.game_gift_pages span,.game_gift_pages a.action{padding:3px 6px ;margin:0 5px;border:1px solid #cccccc;background:#1a8be6;color:#FFFFFF}
.game_gift_yi{}
.game_gift_table{border-left:1px solid #dddddd;border-top:1px solid #dddddd;background:#FFFFFF;line-height:32px;margin-bottom:15px;}
.game_gift_table th{border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;background:#dbf9f7}
.game_gift_table td{border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;text-align:center;color:#333333}
/*help*/
.help_div_con{padding:10px;overflow:hidden;zoom:1}
.help_div_con li{width:50%;float:left;background:url(../images/dian.jpg) no-repeat center left;line-height:26px;height:26px;overflow:hidden;text-indent:1em;}
.help_right_con{padding:18px;margin:0}
.help_div_coninfo{padding:10px;}
.help_idea{display:block;width:100%;height:48px;background:url(../images/yijian.jpg) no-repeat;text-indent:-999em}
.help_right_conh2{font-family:"Microsoft Yahei";font-weight:16px;line-height:28px;font-size:16px;font-weight:500}
.help_right_conp{color:#44576c;line-height:24px;padding-left:14px;margin-bottom:18px;}
.help_customertable td{padding:6px 0}
/*pay*/
.pay_div_title{line-height:42px;color:#333333;font-size:16px}
.pay_ul_type{}
.pay_ul_type li{height:40px;line-height:40px;text-indent:4em}
.pay_ul_type li a{font-size:14px;display:block}
.pay_ul_type li a.pay45{background:url(../images/pay1.jpg) no-repeat;}
.pay_ul_type li a.pay44{background:url(../images/pay2.jpg) no-repeat;}
.pay_ul_type li a.pay49{background:url(../images/pay3.jpg) no-repeat;}
.pay_ul_type li a.pay20{background:url(../images/pay4.jpg) no-repeat;}
.pay_ul_type li a.pay46{background:url(../images/pay5.jpg) no-repeat;}
.pay_ul_type li a.pay47{background:url(../images/pay6.jpg) no-repeat;}
.pay_ul_type li a.pay48{background:url(../images/pay7.jpg) no-repeat;}
.pay_ul_type li a.pay96{background:url(../images/pay8.jpg) no-repeat;}
.pay_ul_type li a.pay94{background:url(../images/pay2.jpg) no-repeat;}
.pay_ul_type li a.active{background-position:0 -40px;font-weight:bold;color:#FFFFFF;text-decoration:none}
.pay_div_jilu{}
.pay_div_jilu a{display:block;height:50px;width:200px;text-indent:-999em;background:url(../images/jilu.jpg) no-repeat}
.pay_div_jilu a.active{background:url(../images/jiluactive.jpg) no-repeat}
.pay_right_top{padding-left:30px;background:url(../images/qian.jpg) no-repeat  #f5f5f5 10px center ;}
.pay_right_top strong{color:#04518c;margin:0 10px;}
.pay_infocon{padding:18px;}
.pay_div_remark{}
.pay_div_remark h3{background:url(../images/jingtang.jpg) no-repeat left center;line-height:32px;border-bottom:1px solid #dddddd;padding-left:24px;margin-bottom:8px;color:#04518c}
.pay_div_remark p{line-height:22px;color:#666666;padding:2px 0}
.pay_div_remark p b{margin-right:5px;color:#04518C}
.v5_setbank { background: url(../images/newpay_bg07.png) no-repeat center center;color: #333333;cursor: pointer;display: block;line-height: 24px;padding-top: 5px;text-align: center;}
.v5_setbankaction {background: url(../images/newpay_bg08.png) no-repeat center center;}
.pay_typecon {margin: 0;overflow: hidden;}
.pay_typecon li {overflow: hidden;padding: 2px;zoom:1;clear:both;}
.pay_typecon li.seposition{position:relative}
.pay_typecon li label {color: #333333; float: left;line-height: 32px; padding-right: 10px;text-align: right;width: 170px;}
.pay_typecon li span {display: block; float: left;line-height: 32px;overflow: hidden; padding: 1px 0;width: 500px;}
.pay_typecon li span.duihuan {height: 64px;}
.pay_typecon li span.duihuan font {color: #FF0000;font-size: 12px; font-weight: bold;}
.pay_typecon li span.jine {line-height: 27px;}
.pay_typecon li span.jine1 {line-height: 27px;}
.huoqu1 {background: url(../images/money.png) no-repeat  0 13px;clear: both;display: block;height: 26px;line-height: 26px; padding-left: 35px;padding-top:8px}
.col{color:#04518C;font-weight:bold;font-size:14px}
.banktable {}
.banktable td {padding: 4px 0px;}
.banktable td img {cursor: pointer; margin-left: 5px;margin-right: 10px;vertical-align:middle}
.pay_submit{text-align:center;padding:18px 0}
.pay_em{cursor:pointer;display:block;padding:2px 0 !important;float:left;width:145px;height:26px;line-height:26px}
.pay_reord{padding:2px 0 30px;}
.record_table{border-right:1px solid #CCCCCC;border-top:1px solid #CCCCCC}
.record_table th{background:#dbf9f7}
.record_table th,.record_table td{border-left:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;line-height:36px;text-align:center}
.pay_record_top{padding-left:10px;font-size:14px}
.look_submit{background:url(../images/chaxun.jpg) no-repeat;border:none;height:30px;width:66px;display:inline-block;font-family:"Microsoft Yahei";font-size:14px;color:#FFFFFF;font-weight:500;cursor:pointer;word-spacing:2px;margin-left:10px}
.marspan{margin:0 8px }
/*footer*/
.footer{background:#333333;position:relative;}
.foot{margin:0 auto;width:980px;color:#999999;padding:10px 0;background:url(../images/footbg.jpg) no-repeat #333333 right center;}
.foot p{color:#999999;line-height:26px;text-align:left;font-size:12px;}
.foot p a{color:#999999;margin-right:30px;}
.ideatitle{font-size:14px;color:#333333;line-height:24px;padding-bottom:12px;border-bottom:1px dotted #CCCCCC;}
.ideatable{margin-top:20px}
.ideatable td{padding:8px;line-height:26px;vertical-align:top;position:relative}
.neiselect{padding:5px;border:1px solid #aaaaaa}
.neitextarea{height: 100px;line-height: 21px;overflow: auto;padding: 5px; width: 300px;resize:none;border:1px solid #aaaaaa}
.neitext {height: 18px;padding: 5px;width: 200px;border:1px solid #aaaaaa}
.textwid{width:100px}
.idea_btndiv{padding:30px 0 20px 225px;}
.idea_submitbtn{background:url(../images/libaobtn.jpg) no-repeat;border:none;cursor:pointer;height:34px;width:90px;line-height:34px;font-family: "Microsoft Yahei";font-size:16px;color:#FFFFFF;letter-spacing: 2px;text-align: center;padding-bottom:2px;}
.downceng{position:absolute;height:100%;width:100%;top:0;left:0;z-index:99}
.downcengbg{background:#000000;height:100%;width:100%}
.downcengcon{border:1px solid #DDDDDD;background:#FFFFFF;width:540px;position:absolute;top:50%;left:50%;margin-left:-270px;}
.dc_title{border-top:1px solid #FFFFFF;border-bottom:1px solid #dddddd;line-height:46px;height:46px;position:relative;color:#2a57b9;font-family:"Microsoft Yahei";font-weight:500;font-size:16px;z-index:199;padding-left:10px;_padding-top:7px}
.dc_title a{background:url(../images/close.jpg) no-repeat;height:24px;width:24px;top:11px;right:11px;text-indent:-999em;display:block;position:absolute;z-index:200;overflow:hidden}
.dc_title a:hover{background-position:0 -25px;text-decoration:none}
.dc_title img{vertical-align:middle;margin-right:10px}
.dc_infocon{padding:10px;}
.dc_infoul{}
.dc_infoul li{overflow:hidden;zoom:1;border-bottom:1px dotted #CCCCCC;padding:10px 0}
.dc_infoul_left{float:left;width:410px}
.dc_infoul_left p{line-height:26px;color:#666666}
.dc_infoul_left p strong{color:#333333}
.dc_infoul_left p em{color:#333333}
.dc_infoul_right{float:right;width:90px;}
.dc_infoul_right a{width:80px;display:block;height:34px;line-height:32px;background:url(../images/down.jpg) no-repeat;color:#FFFFFF;padding-left:10px}
.dc_infoul_right a:hover{background-position:0 -34px;text-decoration:none;color:#FFFFFF}
.marbottom{margin-bottom:0}
.list_con,.game_con{margin:18px 0;border:1px solid #dddddd;background:#FFFFFF;}
.list_conul{padding:20px;}
.list_conul li{line-height:36px;border-bottom:1px dotted #CCCCCC;background:url(../images/libg.jpg) no-repeat left center;padding-left:13px}
.list_conul li a.list_game{width:100px;display:inline-block}
.list_conul li span{float:right;color:#666666}
.list_conpage{text-align:center;padding:10px 20px 30px;}
.list_conpage a,.list_conpage span{margin:0 5px;padding:3px 6px;border:1px solid #CCCCCC;background:#FFFFFF;}
.list_conpage a.active,.list_conpage strong{color:#FFFFFF;background:#2A57B9}
.gamelist_con{padding:20px 1px;width:976px;;overflow:hidden;}
.game_conul{padding-lefT:33px;}
.game_conul li{float:left;width:202px;padding:1px 33px 21px 0}
.game_ul_con{width:180px;border:1px solid #CCCCCC;background:#FFFFFF;padding:10px;overflow:hidden}
.game_ul_conhidden{height:235px;overflow:hidden;}
.game_ul_contop{height:235px;overflow:hidden;}
.game_ul_contop img.gamelistimg{height:203px;width:180px;display:block}
.game_ul_data{padding:4px 0;line-height:24px;font-size:14px;font-family:"Microsoft Yahei";}
.game_ul_data span.game_ul_system{float:right}
.game_ul_erwei{height:215px;width:148px;text-align:center;padding:10px 16px;background:#000000}
.game_ul_erwei img{width:148px;height:148px;display:block}
.game_ul_erwei a{display:block;height:26px;width:148px;color:#FFFFFF;text-align:center;line-height:26px;margin-top:7px}
.game_ul_erwei a.game_ul_down{background:url(../images/listgamedown.jpg) no-repeat;}
.game_ul_erwei a.game_ul_enter{background:url(../images/listenterweb.jpg) no-repeat;}
.game_ul_erwei a:hover{background-position:0 -26px;text-decoration:none;color:#ffffff}
.reglogincon{padding:20px;background:url(../images/lobg.jpg) no-repeat right top;}
.v2_chongzhi{border:3px solid #FF730C;background:#fffaf6;padding:20px 30px;position:absolute;z-index:999;}
.v2_chongzhicon{font-family:"Microsoft Yahei";font-weight:500;letter-spacing:1px;font-size:14px}
/**/
.tanchu {border: 1px solid #cccccc;margin: 0 auto;width: 380px;background:#FFFFFF}
.wenxintitle{color: #333333;font-size: 16px;line-height: 42px;background:#F9F9F9;border-bottom: 1px solid #DDDDDD;border-top: 1px solid #FFFFFF;font-family: "Microsoft Yahei";font-size: 14px;font-weight: 500;line-height: 36px;text-indent: 0.5em;position:relative;height:36px;font-weight:600}
.wenxintitle a {position: absolute;right: 8px;text-indent: 0;top: 10px;}
.tccon{padding:20px 40px 0;}
.tccon h3{line-height:24px;margin-bottom:5px}
.tccon table{border:1px solid #dddddd;border-bottom:0}
.tccon table td{padding:3px 2px;line-height:22px;text-align:center}
.tccon table td.tds1{border-bottom:1px solid #dddddd;border-right:1px solid #DDDDDD;width:100px;color:#666666}
.tccon table td.tds2{border-bottom:1px solid #DDDDDD;color:#000000}
.btncon{text-align:center;padding:30px 0 20px}
.btncon a{height:34px;padding:0 15px;border:1px solid #ff0000;margin-right:20px;font-size:14px;display:inline-block;background:url(../images/bg1.gif) repeat-x;font-weight:bold;color:#000000;line-height:34px;}
.tanchucon{background:url(../images/shibai.jpg) no-repeat;font-weight:bold;font-size:14px;line-height:24px;padding-left:40px;margin:30px 0 0px 20px}
.tanchucon p{font-size:12px;font-weight:normal;color:#999999;line-height:28px;}
.tanchucon p b{color:#04518C}
/*充值失败成功页*/
.chongru{background:url(../images/chenggong.jpg) no-repeat;margin-top:20px;padding-left:80px;margin:20px 0 20px 20px}
.chongru p{color:#666666;line-height:32px;font-family:"Microsoft Yahei";font-size:14px;}
.chongru p.chongruinfo{font-size:18px;color:#000000;font-weight:bold;color:#c80000;padding:14px 0 24px}
.chongru p.chongruinfo b{color:#d57e20;margin:0 5px}
.chongru p.btndiv{padding:20px 0}
.chongru p a{color:#2c3ec8;margin-left:10px}
.backindex{background:url(../images/back.gif) no-repeat;width:95px;height:34px;cursor:pointer;font-size:14px;color:#FFFFFF;font-weight:bold;border:0;margin-right:15px}
.duihuangame{background:url(../images/duihuan.gif) no-repeat;width:95px;height:34px;cursor:pointer;font-size:14px;color:#FFFFFF;font-weight:bold;border:0}
.czfail{background:url(../images/shibai.jpg) no-repeat}
.pay_marpad{margin:18px 0;background:#FFFFFF;border:1px solid #CCCCCC}
.btn1,.backindex{background:url(../images/btn1.jpg) no-repeat;width:90px;height:32px;font-size:14px;font-weight:500;cursor:pointer;border:0;color:#ffffff;margin:0 10px;padding:0 1px 2px;line-height:30px;text-align:center;font-size:14px;font-family:"Microsoft Yahei"}
.btn3{background:url(../images/back.jpg) no-repeat;width:90px;height:32px;font-size:14px;font-weight:500;cursor:pointer;border:0;color:#ffffff;margin:0 10px;padding:0 1px 2px;line-height:30px;text-align:center;font-size:14px;font-family:"Microsoft Yahei"}
.backindex{margin-left:0}
.tc1{background:url(../images/tishi.jpg) no-repeat left center;padding-left:60px;}
.pay_typecon li.selectradio{}
.pay_typecon li.selectradio label{_line-height:26px;}
.pay_typecon li.selectradio span{line-height:24px;}
.pay_typecon li.selectradio span em{margin-right:20px;width:auto}
.pay_typecon li.selectradio span em input{margin:0;padding:0}
.emwidth{width:80px}
.emauto{width:auto}
.emauto .anthercss{_height:32px;line-height:32px;}
/**/
.companyinfo{padding:0px 20px 20px 10px;}
.companyinfo .cinfo_titleh2{font-size:18px;font-family:"Microsoft Yahei";font-weight:700;color:#222222;line-height:48px;padding-top:10px;padding-top:20px}
.companyinfo p{line-height:25px;color:#666666;text-indent:2em;}
.companyinfo p strong{font-size:13px;font-family:"Microsoft Yahei";color:#333333}
